<div class="hero-container">
  <div class="hero-card">
    <!-- LEFT CONTENT -->
    <div class="hero-left">
      <h1>Hi, Welcome to my Personal Website</h1>
      <p>
        My name is Rama Cahaya Yudhoyono. I am excited to learn web development
        and create more. I graduated from Information System at Gunadarma
        University. I am looking forward to building amazing websites and
        applications. I want to be a full stack developer.
      </p>

      <!-- BUTTONS -->
      <div class="button-group">
        <a href="/contact">
          <button class="btn-contact">Contact</button>
        </a>

        <a
          class="btn-download"
          href="https://drive.google.com/file/d/1ChReE5r8YQfISpYTkbySNUa7kEecIiNJ/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
        >
          download CV
          <i class="bi bi-download"></i>
        </a>
      </div>

      <!-- SOCIAL ICONS -->
      <div class="social-icons">
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
      </div>
    </div>

    <!-- RIGHT PROFILE CARD -->
    <div class="hero-right">
      <div class="profile-card">
        <img src="images/tampan dan pemberani.jpeg" alt="foto diri" />

        <div class="profile-info">
          <h3>Rama Cahaya Yudhoyono</h3>
          <p>Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>